<%- include("partials/header"); -%>

<h1>HOME</h1>
<p><%= startingContent %></p>

<% display.forEach(element => { %>
<div class="container__items">
<span class="btn-2 button_id" data_id="<%= element.id %>">Delete </span>
<h1><%= element.title %></h1>
<p>
  <%= element.content.substring(0, 100) + " ..." %>
  <a href="/posts/<%=element.title%>" class="post-link">Read More</a>
</p>
</div>
<% }); %> 

<%- include("partials/footer"); -%>